@tailwind base;
@tailwind components;
@tailwind utilities;

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.scroller {
  overflow: auto;
}

.bg-vscode {
  background-color: #282c34;
}
